body{
  background-color: #00ffaa;
}

.App {
  background-color: #fff;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 20px;
}

#to-do-form input{
  color: #00ffaa;
  border-color: #00ffaa;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 20px;
}

#to-do-form input::placeholder {
  color: #00ffaa;
}

#to-do-form input:focus {
  outline: none;
}

#to-do-form button {
  height: 50px;
  width: 80px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 20px;
  border-color: #00ffaa;
  color: #00ffaa;
  cursor: pointer;
}

#to-do-form button:hover{
  background-color: #00ffaa;
  color: #fff;
  border: none;
}

#to-do-form button:focus{
  outline: none;
}